<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['node_modules']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/comics']">Comics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/personas']">Personas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/coches']">Coches</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Funciones
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let funcion of funciones"><a class="dropdown-item" [routerLink]="['/empleados', funcion]">{{funcion}}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>